@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-fastsaletext: #060406;
  --color-fastsalebg: #cbd2d9;
  --default-font-family:
    "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
